MONGO_URL=mongodb+srv://tushar:<password>@cluster0.as01cyr.mongodb.net/nextAuth?retryWrites=true&w=majority
APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="supersecret"

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_HOST=
SMTP_POST=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=your@email.com
SMTP_SECURE=false